{% extends 'base.html.twig' %}

{% block title %}Product name page{% endblock %}

{% block body %}

        {% if qb %}
            <table>
                <thead>
                <th>Product name</th>
                </thead>
                <tbody>
                {% for qbs in qb %}
                    <tr>
                        <td>{{ qbs.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No category product!!!</p>
        {% endif %}
        <a href="/">Back</a>
{% endblock %}
